/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

.container {
    width: 1800px;
    padding: 0px;
}

.logo
{
    float: left;
    margin: 25px 0 30px 0;
    width: 190px;
    height: 40px;
    background: url(~/Content/fortinet_logo.png) no-repeat;
    display: block;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.page-header-fixed-top {
    top: 50px;
    position: fixed;
    z-index: 1029;
}

.app-header {
    font-weight: bold;
    cursor: pointer;
}

.app-header div.app-header-space {
    margin-top: 10px;
}

.page-body-padding {
    padding-top: 120px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul.apps {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.alternate {
    background: rgb(216, 232, 249);
}

div.app-field {
    background: inherit;
}

.toolbar
{
    position: relative;
    padding: 0;
    display: table;
}

.toolbar > div
{
    display: table-cell;
    padding-right: 8px;
    vertical-align: top;
}

    .toolbar.btn-group, .toolbar.btn-group-vertical
    {
        vertical-align: inherit;
    }