[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/eiklnv
[access "refs/for/refs/*"]
	read = group user/eiklnv
	push = group user/eiklnv
	label-Code-Review = -2..+2 group user/eiklnv
	label-Verified = -1..+1 group user/eiklnv
	rebase = group user/eiklnv
	removeReviewer = group user/eiklnv
	submit = group user/eiklnv
[access "refs/heads/*"]
	read = group user/eiklnv
	create = group user/eiklnv
	push = +force group user/eiklnv
	pushMerge = group user/eiklnv
[access "refs/tags/*"]
	push = +force group user/eiklnv
	pushTag = group user/eiklnv
	pushSignedTag = group user/eiklnv
